<% layout('layouts/boilerplate') %>


    <div class="row  mb-5">
        <div class=" border rounded-3 shadow bg-body">
        <h1 class="text-center mt-3">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required >
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required >
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="campground[description]" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image(s)</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                  </div>
                <div class="mb-3 d-grid">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>

            <br>

            <div class="d-grid mb-3">
                <a class="btn btn-outline-primary mb-4" href="/campgrounds">All Campgrounds</a>
            </div>
        </div>
        </div>
    </div>

    